<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fashion.krish" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DashboardActivity"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|adjustPan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ProductDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ProductDetailActivityBkp" />
        <activity
            android:name=".activity.AccountInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductGalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShoppingCartActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.MyAddressFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CheckoutActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderFulfillmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1234"
            android:exported="true" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d688154d6e960e9e0e8fc97582a9ae8286eaa8b5" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA8lZK9Fl8J4hQUgdta5xiH2i8RVvPD4JU" />

        <activity
            android:name=".activity.PlaceActivity"
            android:label="@string/title_activity_place" >
        </activity>
    </application>

</manifest>
